
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;       
}

.device-container {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


.etchasketch {
    position: relative;
    width: min(70vw, 500px);  
    aspect-ratio: 2730 / 1536;   
    background: url(media/sketch1.png) center/contain no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    position: absolute;
    top: 47.5%;        
    left: 48.5%;
    width: 28%;       
    height: 35%;
    aspect-ratio: 4 / 3;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    background: grey;
}

.item {
    background: black;
    box-sizing: border-box;
}

#resetBtn {
    position: absolute;
    bottom: 19.5%;
    right: 40%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
}


